/*! Devices.css v0.1.16 | MIT License | github.com/picturepan2/devices.css */
.device,
.device::before,
.device::after,
.device *,
.device *::before,
.device *::after {
  box-sizing: border-box;
  display: block;
}

.device {
  position: relative;
  transform: scale(1);
  z-index: 1;
}

.device .device-frame {
  z-index: 1;
}

.device .device-content {
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
  position: relative;
}



.device-imac-pro {
  height: 484px;
  width: 624px;
}

.device-imac-pro .device-frame {
  background: #0d0d0d;
  border-radius: 18px;
  box-shadow: inset 0 0 0 2px #080808;
  height: 428px;
  padding: 24px 24px 80px 24px;
  position: relative;
  width: 624px;
}

.device-imac-pro .device-frame::after {
  background: #2f2e33;
  border-radius: 0 0 18px 18px;
  bottom: 2px;
  content: "";
  height: 54px;
  left: 2px;
  position: absolute;
  width: 620px;
}

.device-imac-pro .device-frame::before {
  bottom: 15px;
  color: #0d0d0d;
  content: "";
  font-size: 24px;
  height: 24px;
  left: 50%;
  line-height: 24px;
  margin-left: -100px;
  position: absolute;
  text-align: center;
  width: 200px;
  z-index: 9;
}

.device-imac-pro .device-content {
  border: 2px solid #121212;
  border-radius: 2px;
  height: 324px;
  width: 576px;
}

.device-imac-pro .device-power::after,
.device-imac-pro .device-power::before {
  content: "";
}

.device-imac-pro .device-power::after {
  background: #222225;
  border-radius: 2px;
  height: 6px;
  margin: 0 auto;
  position: relative;
  width: 180px;
}

.device-imac-pro .device-power::before {
  border: solid transparent;
  border-bottom-color: #333;
  border-width: 0 8px 50px 8px;
  height: 50px;
  margin: 0 auto;
  position: relative;
  width: 130px;
}

