/*======================================
  //--//-->   INTRO
  ======================================*/
  
  .intro {
    height: 100vh;
    position: relative;
    color: #fff;
  }
  
  .intro .intro-content {
    text-align: center;
    position: absolute;
  }
  
  .intro .overlay-itro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
  }
  
  .intro .intro-title {
    color: rgba(255, 255, 255, 0.685);
    font-weight: 600;
    font-size: 4rem;
  }
  @media (max-width:1200px){
    .intro .intro-title{
      font-size: 2rem;
    }
  }
  
  .intro .intro-subtitle {
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  .intro .text-slider-items {
    display: none;
  }
  
  .intro-single {
    height: 350px;
  }
  
  .intro-single .intro-content {
    margin-top: 30px;
  }
  
  .intro-single .intro-title {
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .intro-single .breadcrumb {
    background-color: transparent;
    color: #0078ff;
  }
  
  .intro-single .breadcrumb .breadcrumb-item:before {
    color: #cde1f8;
  }
  
  .intro-single .breadcrumb .breadcrumb-item.active {
    color: #cde1f8;
  }
  
  .intro-single .breadcrumb a {
    color: #fff;
  }
  /* scroll down button */
  .scroll-down{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform:  translateY(-85px) translateX(50%) rotate(45deg);
  }
  .scroll-down span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
  }
  .scroll-down span:nth-child(1){
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
  }
  .scroll-down span:nth-child(2){
    transform: translate(0,0);
    animation-delay: -0.2s;
  }
  .scroll-down span:nth-child(3){
    transform: translate(15px,15px);
    animation-delay: 0s;
  }
  @keyframes animate{
    0%{
      top: -5px;
      left: -5px;
      opacity: 0;
    }
    25%{
      top: 0px;
      left: 0px;
      opacity: 1;
    }
  50%,100%{
      top: 5px;
      left: 5px;
      opacity: 0;
    }
  }
  @media (max-width: 1200px){
    .scroll-down{
      position: absolute;
      bottom: 10px;
      left: 50%;
      width: 30px;
      height: 30px;
      transform:  translateY(-85px) translateX(-10px) rotate(45deg);
    }
  }